/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */




.VPNavBarHamburger.active .middle {
    transform: translateX(17px) !important;
}

header .curtain::before {
    height: 8px !important;
}



/**
 * Transitions
 * -------------------------------------------------------------------------- */

body {
    /* transition: color 200ms, background-color 200ms !important; */
}

html {
    scroll-behavior: smooth;
}

/**
 * Colors
 * -------------------------------------------------------------------------- */

:root {
    --vp-c-brand-1: hwb(205 18% 6%);
    --vp-c-brand-light: hwb(205 23% 0%);
    --vp-c-brand-lighter: hwb(205 30% 0%);
    --vp-c-brand-dark: hwb(205 35% 5%);
    --vp-c-brand-darker: hwb(205 40% 12%);
    --vp-c-brand-dimm: rgba(100, 108, 255, 0.08);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
    --vp-button-brand-border: var(--vp-c-brand-light);
    --vp-button-brand-text: var(--vp-c-white);
    --vp-button-brand-bg: var(--vp-c-brand);
    --vp-button-brand-hover-border: var(--vp-c-brand-light);
    --vp-button-brand-hover-text: var(--vp-c-white);
    --vp-button-brand-hover-bg: var(--vp-c-brand-light);
    --vp-button-brand-active-border: var(--vp-c-brand-light);
    --vp-button-brand-active-text: var(--vp-c-white);
    --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(
      120deg,
      #3dbfdd 30%,
      #42dfe0
    );
}